.board {
  --cell-w: 48px;
  --cell-h: 28px;

  display: grid;
  grid-template-columns: repeat(8, var(--cell-w));
  grid-template-rows: repeat(10, var(--cell-h));
  gap: 1px;
  padding: 1px;

  width: fit-content;
  margin: 40px auto;

  border: 1px solid #2B2C28;
  background: #131515;
}

.board_slot, .board_slot_team1, .board_slot_team2 {
  width: var(--cell-w);
  height: var(--cell-h);
  box-sizing: border-box;
  border: 1px solid #0F2E2A;
}

.board_slot { background: #0e1111; }
.board_slot_team1 { background: #4400b3; }
.board_slot_team2 { background: #A82431; }
